* {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Museo Sans",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none; 
  color:white;
  font-size: 14px;   
  position: relative;
  padding: 0 0 8px;
  overflow: hidden;
  text-transform: uppercase;
  display: inline-block;
}

a::after {
  content: "";
  background-color: white;
  display: block;
  position: absolute;
  bottom: 10px;
  height: 1px;
  width: 0px;
  transition: all 0.2s ease-in-out 0s;
}
a:hover {
  text-decoration: none; 
}
a:hover::after {
  height: 100%x;
  width: 110%;
  transition: all 0.3s ease-in-out 0s;
}

